<!-- Begin list controls -->
<ul class="breadcrumb">
  <li>
    <%= link_to 'My Lists', lists_path() %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to 'Edit This List', list_goals_path(@list) %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    <a href="#">Current List</a>
  </li>
</ul>
<!--end list controls-->

<!-- List --><!--plan to add starter kit mock up here--> 
<%- model_class = List -%>
<div class="page-header">
  <h1><%=t '.title', :default => "#{model_class.model_name.name} for week #{@list.name}"  %></h1>
</div>
<!-- end list -->
 
<!-- Begin goals -->
<% if @list.goals.any? %>
  <section class="content-block gallery-1">
    	<div class="container">
         	<div class="underlined-title">
	    		<div class="editContent" style=""><h1>Goals</h1></div>
	    		<hr>
	    		<div class="editContent" style=""><h2>Add Date here </h2></div>
	    	</div>
	    	<div class="editContent"><ul class="filter">
	<li class="active"><a href="#" data-filter="*">ABC</a></li>
	<li><a href="#" data-filter=".artwork">Date</a></li>
	<li><a href="#" data-filter=".creative">Priority</a></li>
</ul></div>
<!-- /.gallery-filter -->
<!-- begin goal boxes -->
<div class="row">
        <%= render @list.goals %>
<% end %>
<!-- end goal boxes-->
</div>
<!-- /.row -->
</div>
<!-- /.container -->
</div></section>
<!--// End Gallery 1-2 --></div><!-- /#page -->

<h2>Add goal item</h2>
<%= render "goals/form"%>
<!-- end goals -->
