<%= form_for(@weekly_goal) do |f| %>
  <% if @weekly_goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@weekly_goal.errors.count, "error") %> prohibited this weekly_goal from being saved:</h2>

      <ul>
      <% @weekly_goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :completed %><br>
    <%= f.check_box :completed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
